<ion-content padding>
  <h2>Register Here</h2>
  <form (submit)="doSignup()">
    <ion-item>
      <ion-label stacked>Correo Electronico</ion-label>
      <ion-input [(ngModel)]="regData.email" name="username" type="text" placeholder="Your username" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input [(ngModel)]="regData.password" name="password" type="password" placeholder="Your password"></ion-input>
    </ion-item>
    <button ion-button block type="submit">
      SignUp
    </button>
  </form>
</ion-content>
