<ion-header>
  <ion-navbar start>

    <ion-title>Results</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Resultados</h2>

    <ion-list>
      <ion-list-header>Lista de Resultados</ion-list-header>
      <ion-item *ngFor="let result of results">
        <h2>Equipo Local: {{ result.team_home.name }}</h2>
        <p>Marcador: {{ result.score_home }}</p>

        <h2>Equipo Visitante: {{ result.team_away.name }}</h2>
        <p>Marcador: {{ result.score_away }}</p>
      </ion-item>
    </ion-list>


</ion-content>
